@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>grpc Client page!</p>
<br/>
<p>GRPC 是Google发布的一个开源、高性能、通用RPC（Remote Procedure Call）
    框架。提供跨语言、跨平台支持。</p>
<br/>
<p>@Model.ClientMes</p>
<br />
<br />